.red {
	color: red;
}

.form-input {
	width: 50%;
	display: inline;
}

.form-button {
	width: 10%;
}

.header-container {
	background-color: #5cb85c;
	margin-bottom: 20px;
}

.header-navigation {
	padding-botton: 10px;
}

.profile-img {
	width: 64px;
	height: 64px;
}

.dark {
	background-color: #222;
}

.main-header {
	margin-bottom: 0px;
}

.form-row {
	margin-bottom: 10px;
}

.checkcolumn {
	float: left;
	margin-right: 10px;
}

.firstcolumn {
	width: 15%;
	float: left;
}

.secondcolumn {
	width: 70%;
}